*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(1, 0, 35);
    justify-content: center;
    display: flex;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choise:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: rgb(0, 8, 8);
    
}
.choise{
    height: 165px;
    width: 165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

    
}


#userscore, 
#computerscore {
    font-size: 4rem;
    
}

.msg {
    margin-top: 3rem;
    width: 15rem;
    margin-left: 37.5%;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    }
    
    #msg{
        justify-content: center;
    }

